<div class="card">
    <img
        src="https://nikib.ro/wn/screenshots/card-img2.jpg"
        class="card-img-top"
        alt="card image"
    />
    <div class="card-body">
        <h3 class="card-title">
            &lt;h3&gt; Blog Post Card, consectetur adipiscing elit, sed do eiusmod tempor
        </h3>
        <p class="card-text">
            &lt;p&gt; Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitatin ullamco…
        </p>
    </div>
    <div class="card-footer">
        <p class="text-muted">3/1/2021 - eBook - Emergency Response</p>
    </div>
</div>
