<div class="card">
    <img
        src="https://nikib.ro/wn/screenshots/card-img-3.jpg"
        class="card-img-top"
        alt="card image"
    />
    <div class="card-body">
        <h3 class="card-title">DroneDeploy State of the Drone Industry Report 2021</h3>
        <p class="card-text">
            600 respondents. 20 industries. 40 countries. Breaking down this year’s drone survey and
            what the results mean for your industry.
        </p>

        <p class="text-center">
            <a href="" class="btn btn-primary btn-round"><span>Read eBook Now</span></a>
        </p>
    </div>
</div>
