<div class="card card-video">
    <a href="#" class="card-img-container">
        <img
            src="https://nikib.ro/wn/screenshots/card-img2.jpg"
            class="card-img-top"
            alt="card image"
        />
    </a>

    <div class="card-body">
        <h3 class="card-title">
            <a href="">Blog Post Video Card, consectetur adipiscing elit, sed do eiusmod tempor</a>
        </h3>
        <p class="card-text">
            Subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitatin ullamco…
        </p>
    </div>
    <div class="card-footer">
        <p class="text-muted">3/1/2021 - Webinar - Emergency Response</p>
    </div>
</div>
