.btn {
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 24px;
    position: relative;

    @include media-breakpoint-up(md) {
        font-size: 16px;
        padding: 12px 28px;
    }

    span {
        position: relative;
        z-index: 9999;
    }

    &.btn-round {
        border-radius: 30px;
    }

    &.btn-primary {
        border: 1px solid rgba(0, 0, 0, 0.16);

        background: linear-gradient(115deg, #2196f3 20%, #1f54f2 100%);
        color: #fff;

        // Since we can't animate transitions on backgrounds we animated the opacity of a transparent overlay
        &:before {
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.1);
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 0.2s ease-in-out;
            z-index: 9000;
        }

        &:hover,
        &.active {
            &:before {
                opacity: 1;
            }
        }
    }

    &.btn-secondary {
        border: 1px solid rgba(0, 0, 0, 0.16);
        background: #fff;
        color: #2196f3;

        &:before {
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.1);
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 0.2s ease-in-out;
            z-index: 9000;
        }

        &:hover,
        &.active {
            &:before {
                opacity: 1;
            }
        }
    }

    &.btn-reverse {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;

        &:before {
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.25);
            content: '';
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 0.2s ease-in-out;
            z-index: 9000;
        }

        &:hover,
        &.active {
            &:before {
                opacity: 1;
            }
        }
    }
}
